/Framework-Concept/V1.0/Demo/1_公共层/Demo.Common/obj
/Framework-Concept/V1.0/Demo/2_数据层/Demo.PO/obj
/Framework-Concept/V1.0/Demo/2_数据层/Demo.VO/obj
/Framework-Concept/V1.0/Demo/3_业务逻辑/Demo.BusinessFacade/obj
/Framework-Concept/V1.0/Demo/3_业务逻辑/Demo.BusinessRule/obj
/Framework-Concept/V1.0/Demo/4_站点/obj
/Framework-Concept/V1.0/Demo/5_单元测试/单元测试/obj
/Framework/V0.2/Demo/CoreLibrary/FS.Entity/obj
/Framework/V0.2/Demo/CoreLibrary/FS.Model/obj
/Framework/V0.2/Source/obj
/Framework-Concept/V1.0/Core/Farseer.Net/obj
/Framework/V0.2/Source/bin
/Framework-Concept/V1.0/Demo/1_公共层/Demo.Common/bin
/Framework-Concept/V1.0/Demo/2_数据层/Demo.PO/bin
/Framework-Concept/V1.0/Demo/2_数据层/Demo.VO/bin
/Framework-Concept/V1.0/Demo/3_业务逻辑/Demo.BusinessFacade/bin
/Framework-Concept/V1.0/Demo/3_业务逻辑/Demo.BusinessRule/bin
/Framework-Concept/V1.0/Demo/4_站点/bin
/Framework-Concept/V1.0/Demo/5_单元测试/单元测试/bin
/Framework/V0.2/Demo/CoreLibrary/FS.Entity/bin
/Framework/V0.2/Demo/CoreLibrary/FS.Model/bin
/Framework-Concept/V1.0/Core/Farseer.Net/bin
/Third-Party.js/KindEditor/asp.net/bin
/Framework/V0.2/Demo/Site/Bin
/Framework-Concept/V1.0/Demo/GettingAndStarting.sln.ide
/Framework-Concept/V1.0/Demo/5_单元测试/单元测试/*.user
/Framework-Concept/V1.0/Core/Farseer.Net.sln.ide
/Framework-Concept/V1.0/Core/Farseer.Net.v14.suo
/Framework/V1.0/Source/bin
/Framework/V1.0/Source/obj
/Framework/V1.0/Source/*.suo
/Framework/V1.0/Demo/3_业务逻辑/Demo.BusinessFacade/bin
/Framework/V1.0/Demo/2_数据层/Demo.VO/bin
/Framework/V1.0/Demo/2_数据层/Demo.PO/bin
/Framework/V1.0/Demo/1_公共层/Demo.Common/bin
/Framework/V1.0/Demo/5_单元测试/单元测试/bin
/Framework/V1.0/Demo/4_站点/bin
/Framework/V1.0/Demo/3_业务逻辑/Demo.BusinessRule/bin
/Framework/V1.0/Farseer.Net.V1.0.sln.ide
/Framework/V1.0/Demo/Demo.Common/bin
/Framework/V1.0/Demo/Demo.VO/bin
/Framework/V1.0/Demo/Demo.PO/bin
/Framework/V1.0/Demo/Demo.BusinessRule/bin
/Framework/V1.0/Demo/Demo.BusinessFacade/bin
/Framework/V1.0/Demo/网站/bin
/Framework/V1.0/Test/Farseer.Net.Mapping.Tests/bin
/Framework/V1.0/Test/Farseer.Net.Extend.Tests/bin
/Framework/V1.0/Test/Farseer.Net.Configs.Tests/bin
/Framework/V1.0/Test/Farseer.Net.Core.Tests/bin
