<?xml version="1.0"?>
<CacheConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsOpen>false</IsOpen>
  <VisitTime>30</VisitTime>
  <VisitCount>10</VisitCount>
  <CacheTimeOut>120</CacheTimeOut>
  <IgnorePath>/</IgnorePath>
  <IgnorePageName>/</IgnorePageName>
</CacheConfig>