<?xml version="1.0"?>
<GeneralConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DeBug>false</DeBug>
  <WebTitle>感谢使用Qyn V5.0 FrameWork</WebTitle>
  <RewriterDomain>qyn99.com;</RewriterDomain>
  <CookiesDomain />
  <UploadDirectory>/UpLoadFile/</UploadDirectory>
</GeneralConfig>