<?xml version="1.0"?>
<RewriterConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Rules Descript="重写演示">
    <RewriterRule Descript="URL映射">
      <LookFor>http://localhost:(\d+)/(\d+).html</LookFor>
      <SendTo>~/UrlRewriter.aspx?ID=$2</SendTo>
    </RewriterRule>
    <RewriterRule Descript="URL映射">
      <LookFor>http://localhost:(\d+)/(\d+)-(\d+).html</LookFor>
      <SendTo>~/UrlRewriter.aspx?ID=$2&amp;ID2=$3</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>
