<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FS.Model.Properties.Settings.FarseerConnectionString"
            connectionString="Data Source=.;Initial Catalog=Farseer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>